<div class="main">
<div class="left">
    <h1>Welcome to PC Geeks!</h1>
    <section>
        <p class="leftP">PC Geeks is your ultimate hub for all things tech. Whether you're a tech novice or a seasoned expert, our platform is designed to cater to your every need. Dive into a world of hardware, software, and tech news, where you'll find a treasure trove of articles, guides, and tutorials to help you navigate the ever-changing landscape of technology.</p>
        <p class="rightP">Join our thriving community of tech enthusiasts, where you can engage in lively discussions, seek advice, and share your passion for all things tech. From building your dream PC to staying updated on the latest tech trends, PC Geeks is here to empower you with knowledge and expertise.</p>    
    </section>
</div>
<div class="right">
    <section class="upper">
        <h1>The Discussion</h1>
        <p>"Effective discussions are the cornerstone of problem-solving and decision-making."</p>
       
        
    </section>
    <section class="lower">
        <h1>News</h1>
        <p>"Stay informed with the latest news to understand the world around you."</p>
    </section>
</div>
</div>
<a class="discussionsIcon"  routerLink="/discussions"><i class="fa-solid fa-route"></i></a>
<a class="newsIcon"  routerLink="/news"><i class="fa-solid fa-compass"></i></a>
