footer{position: fixed;
bottom: 0;
left: 0;
width: 100vw;
display: flex;
justify-content: center;
height: 5vh;
align-items: center;
background-color: rgb(30, 30, 30);}
p{
    color: orangered;
   
}
a{padding-left: 20px;
font-size: 20px;}

