<section class="postNews" *ngIf="userInfo.userLoggedIn">
  <form  id="myForm" (submit)="onSubmitNews($event,titleInput.value,descriptionInput.value)">
      <div class="form-group" id="emailDiv">
          <label for="title">Title</label> <br>
          <input type="text" name="email" placeholder="The title is going to be..." #titleInput id="title" required>
      </div>
      <div class="form-group" id="passwordDiv">
          <label for="description">Description</label> <br>
          <textarea type="text" placeholder="This post is about..." name="description" #descriptionInput id="description" required></textarea>
      </div>
      <button class="subButton"  type="submit">Submit</button>
      </form>
</section>