<nav>
    <ul class="firstUl">
        <li><a routerLink="home" routerLinkActive="active"><i class="fa-solid fa-house-laptop"></i>Home</a></li>
        <li><a routerLink="discussions"><i class="fa-solid fa-comments"></i>The Discussion</a></li>
        <li><a routerLink="news"><i class="fa-solid fa-newspaper"></i>News</a></li>
    </ul>
    <div>
        <a routerLink="home"><img src="/assets/images/redoneLogo.png" alt=""></a>
     
    </div>        
    <ul class="secondUl">
        <li><a routerLink="about"><i class="fa-solid fa-circle-info"></i>About</a></li>
        <li><a routerLink="contacts"><i class="fa-solid fa-walkie-talkie"></i>Contacts</a></li>
    </ul>
</nav>



