<div>
    <section class="left">
        <article class="first">
            <img src="/assets/images/sugg1.png" alt="">
            <img src="/assets/images/sugg3.jfif" alt="">
        </article>
        <p>Suggestions, advices and recommendations</p>
        <p>Any tips would be greatly appreciated!</p>
    </section>
    <section class="middle">
       
       <p>Whatever it is, feel free to contact Us</p> 
       <p>Email: something&#64;some.com</p>
       <p>Call us: </p>
       <p>088888888</p>
       
    </section>
    <section class="right">
        <article class="second">
            <img src="assets/images/compl1.jfif" alt="">
            <img src="assets/images/compl2.gif" alt="">
        </article>
        <p>Complaints and detected bugs</p>
        <p>We are sorry for not living up to your expectations.Help us change that! Here's our source code<app-git-redirector></app-git-redirector></p>
        
    </section>
    
</div>
