<div>
    <h1>About PC Geeks</h1>
    <h2>Introduction</h2>

    <p>Welcome to PC Geeks, your go-to destination for the latest software and hardware news, reviews, and discussions! At PC Geeks, we're passionate about technology and dedicated to providing our readers with insightful content to stay informed and empowered in the digital world.</p>

    <section class="second">
        <h2>Our Story</h2>
        <p>PC Geeks was founded in 2024 and is currently under development. It is a web development project created by Mihail Hristov.</p>
    </section>
    <section class="third">
        <h2>Our Mission</h2>
        <p>Our mission at PC Geeks is to make technology accessible and understandable for everyone. We aim to demystify complex tech topics, offer practical advice, and foster a community where enthusiasts can share knowledge, exchange ideas, and connect with like-minded individuals.</p>
    </section>
</div>
